.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 25vh;
  }
  
  #dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  }
  
  #submitBtn {
  margin-top: 20px;
  }
  
  .error {
  font-family: MerriweatherRegular;
  font-size: 30px;
  line-height: initial;
  color: blue;
  text-align: center;
  }