<!DOCTYPE html>
<html>
<head>
	<title>Cricketer Image Classification</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		.submit-btn {
			display: flex;
			justify-content: center;
		}
		#result {
			display: flex;
			justify-content: center;
		}
		body {
			background-color: #dcdde1;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="text-center">
			<img src="{{ url_for('static', filename='image.png') }}" class="img-fluid w-25 mt-3" alt="Cricketer Image Classification">
		</div>
		<h1 class="text-center mt-3">Cricketer Image Classification</h1>
		<form method="post" action="{{ url_for('predict') }}" enctype="multipart/form-data">
			<div class="custom-file mb-3">
				<input type="file" class="custom-file-input" id="image-upload" name="image">
				<label class="custom-file-label" for="image-upload">Choose file</label>
			</div>
			<div class="submit-btn">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
		<div id="result"></div>
		<script>
			var message = "{{ message }}";
			if (message) {
				document.getElementById("result").innerHTML = message;
			}
		</script>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XvoWrWnXaIkdLhN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
